*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.pub
*.pem
.terraform/
*~
*.swp
.vscode/
.idea/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
node_modules/
package-lock.json
yarn.lock
*.db
*.sqlite
*.class
target/
bin/